.bx--content {
  transform:none
}

.bx--table-toolbar {
  overflow: visible;
  z-index: 2;
}

.bx--list-box {
  background-color: #ffffff;
  height: 3rem;
  max-height: 2.9rem; 
  border-bottom:none
}

.bx--list-box:hover {
  background-color: #ffffff;
}

.bx--data-table tbody  {
	background: #ffffff;
}
.bx--tile-content{
line-height: 1.2;
}
.bx--tile{
	width:50%;
	float:left;
	height: 110px;
	margin-bottom:10px
}