@import '@carbon/themes/scss/themes';
// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;

@include carbon--theme();

.bx--data-table-header{
	padding-left:0;
}
.bx--content {
	background: #dcdcdc;
}
.bx--data-table-header {
	background: #dcdcdc;
}
body {
  background-color: $ui-03;
}
@import './components/AppHeader/app-header.scss';
@import './content/WidgetPage/widget-page.scss';
@import './content/EditPage/edit-page.scss';
@import './content/FeedbackPage/feedback-page.scss';
@import './content/ViewPage/view-page.scss';
@import './content/LoginPage/login-page.scss';