@import '@carbon/themes/scss/themes';
// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;

@include carbon--theme();

.bx--data-table-header{
	padding-left:0;
}
.bx--content {
	background: #f3f3f3;
}
.bx--data-table-header {
	background: #e0e0e0;
}
.bx--table-sort:hover{
	background: #e0e0e0;
}
body {
  background-color: $ui-03;
}
.bx--list-box__wrapper .bx--label{
	display: none;
}
.bx--side-nav__navigation{
	background-color: $ui-05;
}
a.bx--side-nav__link > .bx--side-nav__link-text,{
color:$text-04
}
.bx--side-nav__icon > svg{
fill:$text-04
}

@import './components/AppHeader/app-header.scss';
@import './content/WidgetPage/widget-page.scss';
@import './content/EditPage/edit-page.scss';
@import './content/FeedbackPage/feedback-page.scss';
@import './content/ViewPage/view-page.scss';
@import './content/LoginPage/login-page.scss';